html {
    background: #fff;
    font-size: 14px;
    font-family: arial, sans-serif;
}


div.topnav {
    display: inline;
}
a.leftnav {
    color: #222;
    text-decoration: none;
    text-transform: capitalize;

}
a.rightnav {
    color: #222;
    text-decoration: none;
    text-transform: capitalize;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul:hover {
    text-decoration: underline;
}
svg.gdots {
    fill: #5f6368;
}
svg.gdots:hover {
    background: #f2f2f2;
}





div.body {
    display: flex;
    flex-direction: column;
    align-items: center; /* this might be interfering with 'mag' */
}
img.logo {
    padding: 25px; 
}
svg.mag {
    display: flex;
    fill: #9aa0a6; /* color didn't change the color for this SVG art but fill works */
    width: 20px;
    height: 20px;
}
div.search-bar {
    background: #fff;
    height: 50px; 

}
input#searchbar {
    padding: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    width: 550px;
}
input#searchbar:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}
button {
    position: relative;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    color: #3c4043;
    padding: 0 16px;
    height: 36px;
    text-align: center;
}
button:hover {
    border: 1px solid #dadce0;
}





div.yt {
    display: block;
    margin: auto;
    padding: 16px;
    text-align: center;
}
img.ytpic {
    width: 36px;
    height: 25px;
    vertical-align: middle;
}
a.yt {
    color: #1a0dab;
    text-decoration: none;
}








div.bottom-nav {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    /* make it span the whole page, if vertical it's height: 100%; */
    width: 100%; 
    bottom: 0;
    background: #f2f2f2;
    color: #70757a;
    margin: auto;
    padding: 20px;
    text-align: center;

    justify-content: center;


}

div.bottom-nav {

    
}
a.bottom1 {
    color: #70757a;
    text-decoration: none;
    padding: 10px;
}
a.bottom2 {
    color: #70757a;
    text-decoration: none;
    padding: 10px;
}
a.bottom3 {
    color: #70757a;
    text-decoration: none;
    padding: 10px;
}
a.bottom4 {
    color: #70757a;
    text-decoration: none;
    padding: 10px;
}
a.bottom5 {
    color: #70757a;
    text-decoration: none;
    padding: 10px;
}
a.bottom6 {
    color: #70757a;
    text-decoration: none;
    padding: 10px;
}
a.bottom7 {
    color: #70757a;
    text-decoration: none;
    padding: 10px;
}


