* {
    /*background: #fff; removing because interferes with bottom nav color boxes */
    font-size: 14px;
    font-family: arial, sans-serif;
    box-sizing: border-box; /* makes styling boxes easier */
}

body {
    margin: 0;
    padding: 0;
}

ul { 
    display: flex; /* !!! important for navBar !!! */
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    align-items: center; /* align easily with flex support! */

}    
li.left + li.right {
    margin-left: auto;
}
li:hover {
    text-decoration: underline;    
}
svg.gdots {
    fill: #5f6368;
}
svg.gdots:hover {
    background: #f2f2f2;
}
a.topnav {
    display: block;
    color: #222;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px;
}
.thumbnail {
    padding: 2px; /* adds first white circle around icon */
    border: double 2px transparent; 
    border-radius: 50%;
    background-image: linear-gradient(white, white), radial-gradient(circle at left, #fbbc05 ,#ea4335 ,#4285f4 ,#34a853 ); /* adds the gradient around padding */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}



div.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
img.logo {
    padding: 50px; 
}
div.searchContainer {
    display: flex;
    background: #fff;
    height: 50px; 
}
input.searchbar {
    padding: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    width: 550px;
    line-height: 20px;
}
input#searchbar:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}
img.mag {
    position: absolute;
    width: 30px;
    left: 145px;
    top: 280px;
}
button {
    display: inline-block;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    color: #3c4043;
    padding: 0 16px;
    height: 36px;
    text-align: center;
}
button:hover {
    border: 1px solid #dadce0;
}





div.yt {
    display: block;
    margin: auto;
    padding: 5px;
    text-align: center;
    margin: auto;
}
img.ytpic {
    width: 36px;
    height: 25px;
    vertical-align: middle;
}
a.yt {
    color: #1a0dab;
    text-decoration: none;
}







/* this is flex version, updating to grid version 
div.bottom-nav-container {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%; 
    bottom: 0;
    background: #f2f2f2;
    color: #70757a;
    margin: auto;
    padding: 20px;
    text-align: center;
    justify-content: center;
} */

.bottom-nav-container{
    display: grid;
    grid-template-columns: 100px 100px 150px 350px 100px 100px 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    background: #f2f2f2;
    padding: 10px;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
a.bottom1 {
    color: #70757a;
    background: #f2f2f2;
    text-decoration: none;
    padding: 5px;
}
a.bottom2 {
    color: #70757a;
    background: #f2f2f2;
    text-decoration: none;
    padding: 5px;
}
a.bottom3 {
    color: #70757a;
    background: #f2f2f2;
    text-decoration: none;
    padding: 5px;
}
a.bottom4 {
    color: #70757a;
    background: #f2f2f2;
    text-decoration: none;
    padding: 5px;
}
a.bottom5 {
    color: #70757a;
    background: #f2f2f2;
    text-decoration: none;
    padding: 5px;
}
a.bottom6 {
    color: #70757a;
    background: #f2f2f2;
    text-decoration: none;
    padding: 5px;
}
a.bottom7 {
    color: #70757a;
    background: #f2f2f2;
    text-decoration: none;
    padding: 5px;
}


@media all and (max-width: 1200px) {
    div.bottom-nav-container {
        display: grid;
        grid-template-columns: 1fr 1fr 150px 1fr 1fr 1fr;
        grid-template-rows: 35px 35px;
        width: 100%;
        position: fixed;
        bottom: 0;
        background: #f2f2f2;
        padding: 10px;
        color: #f2f2f2;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
    }
}
@media all and (max-width: 1200px) {
    div.bottom1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 5px;
    }
    div.bottom2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 5px;
    }
    div.bottom3 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;    
        padding: 5px;
    }
    div.bottom4 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 5px;
    }
    div.bottom5 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 5px;
    }
    div.bottom6 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 5px;
    }
    div.bottom7 {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 5px;
    }
}

@media all and (max-width: 800px) {
    div.bottom-nav-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 35px 35px 35px;
        width: 100%;
        position: fixed;
        bottom: 0;
        background: #f2f2f2;
        padding: 10px;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
    }
}
@media all and (max-width: 800px) {
    div.bottom1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 5px;

    }
    div.bottom2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 5px;
    }
    div.bottom3 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 5px;
    }
    div.bottom4 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 5px;
    }
    div.bottom5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 5px;
    }
    div.bottom6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 5px;
    }
    div.bottom7 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 5px;
    }
}
